@{
    ViewBag.Title = "Home Page";
}



<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Startup</h1>
            <h2 class="masthead-subheading mb-0">La aplicacion ideal para emprendores</h2>
           <hr />
            @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
            {
                <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
            }
            <hr />
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Imagenes/market2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Crea tu catalogo de productos...</h2>
                    <p>El proceso es muy sencillo: solo basta con unos pocos clicks para que se registre tus productos en una base de datos..</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Imagenes/market3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Abierto al publico las 24 hrs!</h2>
                    <p>Compra y vende cuando quieras y desde cualquier dispositivo celular, movil o tablet con acceso a internet..</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Imagenes/market4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Aumenta la visibilidad de tu negocio!</h2>
                    <p>Si tienes una tienda física, startup le dará una mayor visibilidad. Cada día hay más personas utilizando distintos dispositivos (móviles, tablets, ordenadores, etc.) para comprar online...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

