@model startup.Models.Country

@{
    ViewBag.Title = "Delete";
}



<h3>Este registro no puede ser borrado, ya que tiene otros registros relacionados</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">          
            @Html.ActionLink("Cancelar", "Index",new {},new { @class="btn btn-primary"})
        </div>
    }
</div>
